@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif !important;
}

body {
  --brand-color: #940fdb;
  font-family: "Be Vietnam Pro", sans-serif !important;
}

.BrandColor {
  color: var(--brand-color);
}

p,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Be Vietnam Pro", sans-serif !important;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em hsl(var(--info) / 0.7));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em hsl(var(--info-light) / 0.7));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: hsl(var(--muted-foreground));
}

.CommonH1 {
  font-weight: 500;
  font-size: 40px !important;
  line-height: 50px !important;
  letter-spacing: 0.822222px;
  font-family: "Be Vietnam Pro", sans-serif !important;
  /* text-transform: uppercase; */
}

.CommonH2 {
  font-weight: 600 !important;
  font-size: 25px !important;
  /* line-height: 0px; */
  text-transform: capitalize;
  font-family: "Be Vietnam Pro", sans-serif !important;
}

.CommonH3 {
  font-weight: 600 !important;
  font-size: 17px !important;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0px !important;
}

.PaddingSectionTop {
  padding-top: 30px !important;
}

.textStart {
  text-align: start !important;
}

.MaxVideoWidth {
  max-width: 500px;
  /* margin: 0 auto; */
}

.marginUnset {
  margin: 0px !important;
}

.TextAlignment {
  text-align: center;
}

.LogoATOAIStyles {
  width: 150px;
  margin: 0 auto;
}

.OnlyPc {
  display: block;
}


.hover\:text-orange-500:hover  {
  color: var(--brand-color) !important;
}

.bg-orange-500{
  background-color: var(--brand-color) !important;
}
.text-orange-500{
  color: var(--brand-color) !important;
}
/* 
.MaxWidth800{
  width: 800px !important;
} */

.GoogleAndAppleButtons {
  padding: 0px 20px;
}

@media (max-width:900px) {
  .FontAdjustForMobile {
    font-size: 15px !important;
    line-height: 20px !important;
    margin-top: 0px !important;
  }

  .OnlyPc {
    display: none;
  }

  .LogoATOAIStyles {
    width: 30%;
    margin: 20px 0px;
  }

  .TextAlignment {
    text-align: start;
  }

  .CommonH1 {
    font-weight: 500;
    font-size: 20px !important;
    line-height: 30px !important;
    letter-spacing: 0.822222px;
    font-weight: 700 !important;
  }

  .CommonH2 {
    font-size: 18px !important;
    line-height: 23px !important;
    /* line-height: 25px !important; */
    /* letter-spacing: 0.822222px; */
  }

  .FooterContainer .container {
    padding: 0px !important;
  }
}


#BadgeEditStyle {
  border-radius: 0px !important;
  background-color: rgba(255, 255, 255, 0.351);
  backdrop-filter: blur(10px);
  color: black;
}

#FlexContainerRowBetween {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  /* background-color: red; */
  width: 100% !important;
}

#FlexContainerRowBetween span {
  color: black !important;

}

.fontSizeSm {
  font-size: 12px !important;
}

.fontSizeMd {
  font-size: 14px !important;
}


.fontSizeLg {
  font-size: 15px !important;
  margin-top: 0px !important;
  /* margin-bottom: 10px !important; */
}

#PriceContainerOfferHomePageCards {
  display: flex;
  align-items: center;
  gap: 10px;
}


#ReviewFlexAjustContainer {
  display: flex;
  gap: 20px;
}

#ReviewFlexAjustContainer>div:first-child {
  min-width: 500px;
}

#WhyChooseUsGrid {
  margin-top: 50px;
  /* display: flex;
  flex-wrap: wrap; */
  /* gap: 10px; */
}

/* 
.WhyChooseUsSection{
  background-color: hsl(var(--neutral-50));
} */


/* .WhyChooseFlexContainerColumnCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.WhyChooseFlexContainerColumnCenter>div{
  width: 100% !important;
} */

.FlexTestContainerEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#GapAddedForTestimonial h2 {
  margin-right: 30px;
}


@media (max-width:900px) {
  .text_Adjust_For_Mobile {
    font-size: 16px !important;
    line-height: 23px !important;
  }

  #PriceContainerOfferHomePageCards {
    flex-direction: column;
    align-items: start;
    gap: 0px;
    margin-top: -10px !important;
  }

  #WhyChooseUsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  #WhyChooseUsGrid>div {
    width: 48% !important;
    padding: 10px 0px;
  }


}